.leftUnderPane
{
    -fx-background-color : #419A1C;
}

.leftUpPane
{
    -fx-border-radius: 50 50 0 0;
    -fx-background-radius: 25 25 0 0;
    -fx-background-color: #1761A0;
}

.buttons{
    -fx-background-color: #1761A0;
    -fx-text-fill: white;
}

.buttons:hover{
    -fx-background-color: #0F406A;
}

.buttons:pressed{
    -fx-background-color: #1761A0;
}

.pane{
    -fx-background-radius: 20 ;
    -fx-background-color: #419A1C;
}


.error{
    -fx-border-color: red;
}

.notError{
    -fx-border-color: #419A1C;
}

.accView{
    -fx-background-radius: 20;
    -fx-background-color:#419A1C;
}

.lastAcc{
    -fx-background-radius: 0 0 20 20;
    -fx-background-color:#419A1C;
}

.selection{
    -fx-background-color: #F5F6F6;
    -fx-border-color: #419A1C;
    -fx-border-width: 0 0 0 5;
}

.nonSelection{
    -fx-border-color:  #F5F6F6;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 10 0 10;
}

.nonSelection :hover{
    -fx-border-color:  #419A1C;

}